name: Destroy

on:
  workflow_dispatch:
    inputs:
      stack:
        description: Pulumi stack to destroy
        required: true
        default: dev

jobs:
  destroy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"

      - name: Install deps
        run: pnpm install --frozen-lockfile=false

      - name: Setup Pulumi
        uses: pulumi/actions@v5
        with:
          pulumi-version: latest

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_ROLE_DESTROYER_ARN }}
          aws-region: us-west-2

      - name: Pulumi Destroy
        working-directory: apps/infra
        run: pulumi destroy --yes --stack ${{ inputs.stack }}
